<body>
  <h1>Welcome, {{ name }}</h1>
  <br><br>
  <a href="">Logout</a>
  <a [routerLink]="['/addpoll']">Create a New Poll</a>
  <br><br>
  <h2>Current Polls:</h2>
  <br><br>
  <table>
    <tr>
      <th>Name</th>
      <th>Question</th>
      <th>Date posted</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let i of polls">
      <td>{{ i.asker }}</td>
      <td><a [routerLink]="['/votepoll', i._id]">{{ i.question }}</a></td>
      <td>{{ i.createdAt }}</td>
      <td><button *ngIf="name==i.asker" (click)="onDelete(i._id)">Delete</button></td>
    </tr>
  </table>
</body>